.product-content {
    margin-top: 5rem;
    margin-left: 20rem;
    padding: 2rem 5rem;
  }
  
  .card-image-container {
    width: 100%;
    height: 15rem;
  }
  
  .card-image {
    height: 100%;
  }
  
  .strik-through {
    text-decoration: line-through;
  }
  
  .top-1 {
    top: 0;
  }
  
  .top-2 {
    top: 1.7rem;
  }
  