@import url("https://uilight.netlify.app/main.css");
@import url("./components/Navbar/Navbar.css");
@import url("./components/Banner/Banner.css");
@import url("./components/Category/Category.css");
@import url("./components/NewArrivals/NewArrivals.css");
@import url("./components/Footer/Footer.css");

.home-page {
  overflow: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
